.library-hours-today {
  position: relative;
  height: 80px;
  opacity: 0;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &.loaded {
    opacity: 1;
  }
}