.library-hours-today {
  position: relative;
  min-height: 122px;
  opacity: 0;
  margin-bottom: 15px;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  //TODO: move opacity template loading into ualib.ui as a it's own directive
  &.loaded {
    height: auto;
    opacity: 1;
  }

  > h2,.h2,{
    margin-top: 0;
  }

  > h3, .h3{
    margin-top: 5px;
  }
}

.hours-locations-container > div {
  display: table-cell;
  float: none;
}