<div class="responsive-table">
  <table class="table table-hover">
    <caption class="visually-hidden">A listing of hours for all library locations across campus, sorted alphabetically by library name</caption>
    <thead class="visually-hidden">
      <tr>
        <th>Library</th>
        <th>Hours</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="lib in hoursList track by $index" ng-click="selectLib(lib)">
        <td><a href="#" ng-href="#/hours?library={{lib.name}}">{{lib.name}}</a></td>
        <td>{{lib.hours}}</td>
        <td><span ng-if="lib.openFrom !== '-3'" ng-class="lib.status.css">{{lib.status.text}}</span></td>
      </tr>
      <tr class="hours-list-child" ng-repeat-end ng-repeat="child in lib.children track by $index" ng-click="selectLib(child)">
        <td><a ng-href="#/hours?library={{child.name}}">{{child.name}}</a></td>
        <td>{{child.hours}}</td>
        <td><span ng-class="child.status.css">{{child.status.text}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
