<h2>Hours <small>today</small></h2>
<div class="responsive-table">
    <table class="table table-hover">
        <tbody ng-repeat="lib in hoursList track by $index">
            <tr>
                <td>{{lib.name}}</td>
                <td>{{lib.hours}}</td>
                <td ng-class="lib.status.css">{{lib.status.text}}</td>
                <td>
                    <span class="fa fa-lg fa-info-circle" ng-if="lib.description" tooltip="{{lib.description}}"></span>
                </td>
            </tr>
            <tr class="hours-list-child" ng-repeat="child in lib.children track by $index">
                <td>{{child.name}}</td>
                <td>{{child.hours}}</td>
                <td ng-class="child.status.css">{{child.status.text}}</td>
                <td>
                    <span class="fa fa-lg fa-info-circle" ng-if="child.description" tooltip="{{child.description}}"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>